.Input-form {
    background-color: blueviolet;
    padding: 300px;
}

.input {
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
}
.button {
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
}